<!DOCTYPE html>
<html>

<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div class="form">
        <div class="form-header">
            <h1>OLDFIELD SCHOOL</h1>
            <p>Login to Oldfield School Parents Evening Software</p>
        </div>
        <div class="form-elements">
            <form method="post" action="/auth_api/create_account">
                <% if(message != undefined && message != ""){
                    if(message_type == 'error') {
                      %>
                      <div class="alert alert-danger">
                        <%= message %>
                      </div>
                      <%
                    }

                    if(message_type == 'success') {
                      %>
                      <div class="alert alert-success">
                        <%= message %>
                      </div>
                      <%
                    }

                    if(message_type == 'info') {
                      %>
                      <div class="alert alert-info">
                        <%= message %>
                      </div>
                      <%
                    }

                   } %>
                <div class="form-group">
                    <label>Signup Code</label>
                    <input class="form-control" type="text" id="authentication" placeholder="Enter sign-up code..." name="authentication_token">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" id="name " placeholder="Enter full name..." name="name">
                </div>
                <div class="form-group">
                    <label>Email </label>
                    <input class="form-control" type="text" id="email" placeholder="Enter email address..." name="email">
                </div>
                <div class="form-group">
                    <label>Password </label>
                    <input class="form-control" type="password" id="password" placeholder="Enter password..." name="password">
                </div>

            <button class="btn btn-default" type="submit" style="font-size:18px;text-shadow:none">CREATE AN ACCOUNT</button>
          </form>
            <div>
                <p><a href="/">Log in to your Account</a> </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
