<!DOCTYPE html>
<html>

<head>
  <% include /templates/head.ejs %>
</head>

<body>
    <div class="form">
        <div class="form-header">
            <img class="logo" src="http://www.hsdtaxlaw.com/wp-content/uploads/2016/05/logo_placeholder.png">
        </div>
        <div class="form-elements">
            <div>
              <% if(message != undefined && message != ""){
                  if(message_type == 'error') {
                    %>
                    <div class="alert alert-danger">
                      <%= message %>
                    </div>
                    <%
                  }

                  if(message_type == 'success') {
                    %>
                    <div class="alert alert-success">
                      <%= message %>
                    </div>
                    <%
                  }

                  if(message_type == 'info') {
                    %>
                    <div class="alert alert-info">
                      <%= message %>
                    </div>
                    <%
                  }

                 } %>
                <div class="form-group">
                    <input class="form-control" type="text" id="email" placeholder="Email address..." name="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="password" placeholder="Password..." name="password">
                </div>
            <button class="btn btn-default" id="submit" style="font-size:18px;text-shadow:none">LOGIN </button>
          </div>
            <div>
                <p><a href="/auth/create_account">Create an Account</a> |<a href="/auth/forgot_password"> Forgot Password</a></p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/functions.js" type="text/javascript"></script>
    <% include ./templates/modals/login.ejs %>
</body>

</html>
