<script src="/js/functions.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
<script type="text/javascript">
var account_uuid = '<%- user_id %>';
var times = JSON.parse('<%- avaliable_times %>');
var types = JSON.parse('<%- avaliable_types %>');
var data = '[<%- arr %>]';
var parent_id = '<%- user_id %>';
</script>
<script src="/js/api.js" type="text/javascript"></script>
