<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script>
  var ticket = '<%= ticket_id %>';
  var username = '<%= username %>';
</script>
<script src="/js/view_ticket.js" type="text/javascript"></script>
