<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
}
%>

<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
                <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
              <% include ../templates/nav.ejs %>
              <% if(admin && admin == true) { %>
                <% include ../templates/admin_nav.ejs %>
              <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Children </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                    <div class="col-md-4 nav-top-bar-buttons" id="buttons">
                        <button class="btn btn-default" type="button" id="bookappointmentbutton"><i class="glyphicon glyphicon-plus"></i>Book an Appointment</button>
                        <button class="btn btn-default" type="button" id="parentseveningbooking"><i class="glyphicon glyphicon-plus"></i>Parents Evening Booking</button>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-area-header-children" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">My Children</h1>
                        <p class="main-content-area-header-para">View all children currently under your name in Oldfield School</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-children">
                            <div class="row main-content-adjustment">
                              <%if(data.length) {
                                counter = 1;
                                for(var i=0; i < data.length; i++) {
                                  var name = data[i].name;
                                  var picture_url = data[i].picture_url;
                                  if(picture_url == "") {
                                    picture_url = "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png";
                                  }
                                  %>
                                  <div class="col-md-6 main-content-area-child">
                                      <div><a class="children_a" href="/main/view_student/<%= data[i]._id %>"><img class="avatar-image-small-circle" src="<%- picture_url %>">
                                          <h1 class="avatar-student-name"><%= name %></h1>
                                          <p class="avatar-student-year">Year <%= year_utils.year(data[i].dob) %></p>
                                      </a></div>
                                  </div>
                                  <% }
                                }
                                %>
                            </div>
                        </div>
                    </div>
                    <div id="main-content-area-header-children" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Missing Child? </h1>
                        <p class="main-content-area-header-para">If you have missing children from this page please create a ticket on the "My Tickets" page or contact a staff member.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <% include ../templates/modals/api.ejs %>
</body>

</html>
